---
import PieChart3D from '../react/chart/PieChart3D.jsx';
---

<section id="dataset" class="mt-48 mb-48 py-20 bg-gradient-to-b from-black to-black">
  <div class="container">
    <div class="flex flex-col md:flex-row items-center justify-between gap-4 md:gap-8">
      <PieChart3D client:only="react" />
      <div class="w-full md:w-1/2 text-center md:text-left dataset-text">
        <h2 class="text-3xl md:text-4xl font-bold mb-4">Visualisasi Dataset</h2>
        <p class="text-gray-400 max-w-2xl mx-auto md:mx-0">
          Representasi visual dari proporsi dataset yang digunakan untuk melatih dan memvalidasi model prediksi curah hujan HydroVision.
        </p>
      </div>
    </div>
  </div>
</section>
