---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigations.astro';
import Hero from '../components/sections/Hero.astro';
import Features from '../components/sections/Features.astro';
import ApiShowcase from '../components/sections/ApiShowcase.astro';
import Demo from '../components/sections/Demo.astro';
import Cta from '../components/sections/Cta.astro';
import Footer from '../components/Footer.astro';
import DataSet from '../components/sections/DataSet.astro';
import LastDayData from '../components/sections/LastDayData.astro';
import ModelPerformance from '../components/sections/ModelPerformance.astro';
---
<Layout title="Prediksi Hujan Gorontalo | Analisis LSTM & OpenAPI">
	<!-- <header>
		<Navigation />
	</header> -->

	<main>
		<Hero />
		<div class="h-8 -mt-8 bg-gradient-to-b from-transparent to-black w-full"></div>
		<Features />
		<DataSet />
		<ModelPerformance />
		<LastDayData />
		<ApiShowcase />
		<Demo />
		<!-- <Cta /> -->
	</main>
	
	<Footer />
</Layout>