---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigations.astro';
import Hero from '../components/sections/Hero.astro';
import Features from '../components/sections/Features.astro';
import ApiShowcase from '../components/sections/ApiShowcase.astro';
import Demo from '../components/sections/Demo.astro';
import Cta from '../components/sections/Cta.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="Prediksi Hujan Gorontalo | Analisis LSTM & OpenAPI">
	<header>
		<Navigation />
	</header>

	<main>
		<Hero />
		<Features />
		<ApiShowcase />
		<Demo />
		<Cta />
	</main>
	
	<Footer />
</Layout>